:root {
	--border-width: 2px;
	--border-color: #ffffff;
	--border-color-animation: #f7e626;
	--body-bg: #0e1217;
}


.button_home {
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px 28px;
	font-weight: 900;
	text-transform: uppercase;
	font-family: Poppins;
	font-size: 13px;
	width: 250px;
	height: 52px;
}

.border_home {
	box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
	color: var(--border-color);
	transition: color 0.2s 0.1s;
	position: relative;
}

.border_home::before,
.border_home::after {
	border: 0 solid transparent;
	content: "";
	pointer-events: none;
	position: absolute;
	width: 0;
	height: 0;
}

.border_home::before {
	top: 0;
	right: 0;
	border-bottom-width: var(--border-width);
	border-right-width: var(--border-width);
}

.border_home::after {
	left: 0;
	bottom: 0;
	border-top-width: var(--border-width);
	border-left-width: var(--border-width);
}

.border_home:hover {
	color: var(--border-color-animation);
}

.border_home:hover::before,
.border_home:hover::after {
	border-color: var(--border-color-animation);
	transition: border-color 0s, height 0.2s, width 0.2s;
	width: 100%;
	height: 100%;
}

.border_home:hover::before {
	transition-delay: 0s, 0s, 0.2s;
}

.border_home:hover::after {
	transition-delay: 0.5s, 0.5s, 0.7s;
}
